# Data Science Tools and Ecosystems

This notebook summarizes Data Science Tools and Ecosystem.

**Objectives:**
* List popular languages used by Data Scientists
* List commonly used libraries
* List data science tools
* Demonstrate simple coding

Some of the popular languages Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Scientific)
2. Matplotlib (Visualization)
3. TensorFlow (ML)
4. ggplot2 (R Scientific)

|Data Science Tools|
--------------------
|Jupyter Notebook|
|RStudio|
|PyCharm|

### Here are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [1]:
result = (3 * 4) + 5
print(result)

17

This will convert 200 minutes to hours by diving by 60

In [2]:
result = 200/60
print(result)

3.3333333333333335

## Author
Paul Walker